*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
html{
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}
.container{
  min-height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*hero sectiom*/
#hero{
  background :url(forest.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position:absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .4;
  z-index: -1;
}
#hero h5{
  text-align: center;
  color: WHITE;
  letter-spacing: .15REM;
  margin:10px;
}
#hero h1{
display:block;
width: fit-content;
font-size: 4rem;
position: relative;
color: transparent;
animation: text_reveal .5s ease forwards;
animation-delay: 1s;
}
#hero h1:nth-child(1){
  animation-delay: 1s;
}
#hero h1:nth-child(2){
  animation: text_reveal_name .3s ease forwards;
  animation-delay: 2s;
}
#hero h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:0%;
  background-color: red;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}
#hero h1:nth-child(1) span{
  animation-delay: .6s;
}
#hero h1:nth-child(2) span{
  animation-delay: 1.5s;
}
/*hero sectiom*/

/* @keyframes */
@keyframes text_reveal_box {
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100%{
    color: red;
  }
}
@keyframes text_reveal_name {
  100%{
    color: honeydew;
  }
}
  /* @keyframes */
  /*Service Section*/
#discuss{
    background :url(army.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
}
#discuss::after{
  content: '';
  position:absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: -1;
}
#discuss .discuss{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0;
  padding: 100px 0;

}
#discuss .discuss-title{
  text-align: center;
  font-size: 3.5rem;
  font-weight:300;
  color:white;
  margin-bottom: 20px;
  letter-spacing: .2rem;
  z-index: 1;
}
#discuss .discuss-title span{
  color:red;
}
#discuss .discuss-top p{
  font-size: .6rem;
  margin-top: 5px;
  line-height:1rem;
letter-spacing: 0rem;
  color: white;
font-family: 'Comfortaa';
z-index: 1;
}

  /*Service Section*/
  /*third section8*/
  #items{
      background :url(bubble.jpg);
      background-size:contain;
      background-position: center;
      background-repeat: repeat;
      position: relative;
    }

  #items .items{
    flex-direction: column;
    text-align: center;
    max-width: 1500px%;
    margin: 0;
    padding: 100px 0px;
  }
  #items .items-title{
    font-size: 2.3rem;
    font-weight:300;
    color:Black;
    letter-spacing: .2rem;
    text-align: center;
  }
  #items .items-catogory{
    text-align: center;
    margin-bottom: 70px;
    padding: 40px 0;

  }
  #items .items-catogory p{
    font-size: .8rem;
    margin-top: 5px;
    line-height:1.5rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }
  #items .box{
width: 500px;
height: 200px;
border: 3px solid black;
padding: 25px;
font-weight: bold;
    }
  /*third section8*/
  /*fourth section8*/
  #poem{
    background-image:url(paintt.jpg);
  }
  #poem  p{
    text-align: center;
    font-weight: bold;
    margin: 200px;
  }
  a{
    text-align:center;
    padding: 50px;
    margin-left: 180px;
      }
.bottom{
  text-align: center;
  font-size: 1rem;
  font-weight:bold;
  padding-top: 20px;
}
  /*fourth section8/
